@media screen and (max-width:500px){

    header{
        height: 550px;
    }
    nav {
        text-align: center;
        padding-top: 2%;
        padding-bottom: 2%;
        margin-bottom: 20px;
    }

    nav > a{
        margin-right: 20px;
        font-size: 10px;
    }
    
    nav>h1{
        font-size: 10px;
        margin-right: 15%;
    }

    .text-header {
        padding: 0% 0% 0% 10%;
        
    }

    .text-header h1{
        font-size: 30px;
        padding-top: 30%;
    }

    .text-header h2{
        font-size: 15px;
        padding-top: 0%;
    }

    
    .title-into-wave{
        padding-top: 13%;
        font-size: 20px;
    }

    .title-galery{
        font-size: 25px;
    }

    .quienessomos-img{
        margin-top: 20px;
        margin-right: 5px;
    }

    .quienessomos-img img {
        height: 100px;
        width: 100px;
    }
    

    .container-laboratory{
        padding-left: 10%;
        padding-right: 2%;
        margin-top: -2%;
    }
    .container-laboratory>img{
        width: 250px;
        height: 150px;
        margin-right: 0%;
    
    }
    .laboratorio {
        padding-left: 2%;
        padding-right: 0;
    }
    .laboratorio h1{
        font-size: 15px;
        margin-left: 2%;
    }
    .laboratorio p{
        font-size: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .laboratorio button{
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 4px;
    padding-bottom: 4px;
    background: #073aa5;
    color: white;
    border-radius: 15px;
    cursor: pointer;
    }

    
    
    .piedepagina{
        margin-top: -320px;
        font-size: 15px;
    }
    .title-final{
        font-size: 15px;
    }
    .others a {
        margin-left: 10px;
    }
}