*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Rowdies', cursive;
}

.container{
    width: 100%;
    padding: 60px 0;
    max-width: 1000px;
    margin: 0;
    overflow: hidden;
}

header{
    width: 100%;
    height: 770px;
    background: #373B44;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(224, 71%, 22%, 0.52), hsla(240, 100%, 31%, 0.47)), url(../img/portada.jpg);
    background: linear-gradient(to right, hsla(224, 71%, 22%, 0.52), hsla(240, 100%, 31%, 0.47)), url(../img/portada.jpg);
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

nav{
    background:rgba(42, 64, 118, 0.7);;
    padding: 30px 0px;
    text-align: center;
    text-transform: uppercase;
    display: flex;
}

nav>a{
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    margin-right: 55px;
    font-size: 15px;
}

nav>h1{
    padding-left: 5%;
    margin-right: 30%;
    color: #fff;
}


.text-header{
    
    height: 385px;
    width: 100%;
    
    
    flex-direction: column;
    padding-left: 100px;
    text-align: center;
}

.text-header h1{
    color: #fff;
    font-size: 65px;
    font-weight: bold;
    padding-bottom: 0px;
    text-transform: uppercase;
    padding-top: 5%;
}


.text-header h2 {
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    width: 100%;
    padding-bottom: 10px;
    text-align: center;
    margin-top: 20px;
}


.wave-one{
    background: url(../img/wave.svg);
    height: 450px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100%, 100%;
}

.title-into-wave{
    color: #fff;
    font-size: 65px;
    text-align: center;
    padding-top: 16%;
    margin-bottom: 35px;
    text-transform: uppercase;
}

.wave-one p{
    color: #fff;
    text-align: center;
    padding-left: 25%;
    padding-right: 25%;
    padding-top: 6%;
    padding-bottom: 3%;
    background: #1c4caa;
    margin-top: -63px;
}

.container-about-us{
    color: #1c4caa;
    padding-left: 10%;
    padding-right: 5%;
    padding-bottom: 7%;
    padding-right: 0%;
    text-align: center;
    display: flex;
    background: #fff;
    
}
.title-galery{
    color: #1c4caa;  
    text-align: center;
    background: #fff;
    padding-top: 2%;
}

.quienessomos-img{
    padding: 0;
    align-items: center;
    justify-content: center;
    margin-right: 100px;
    margin-left: 0px;
    margin-bottom: 30px;
    margin-top: 70px;
    position: relative;
    text-align: left;
}
.quienessomos-img img{
    width: 200px;
    height: 200px;
    
    cursor: pointer;
}




.container-laboratory{
    display: flex;
    padding-left: 100PX;
    padding-top: 0;
    padding-right: 100px;
    padding-bottom: 100px;
    background: #1c4caa;

}

.laboratorio{
    padding-left:200px ;
    color: #1c4caa;
    padding-top: 50px;
    padding-right: 80px;
    color:white;
}

.laboratorio h1{
    font-weight: bolder;
    font-size: 20px;
    text-transform: uppercase;
    display: flex;
}

.laboratorio p{
    margin-top: 30px;
    margin-bottom: 30px;
}



.laboratorio button{
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 7px;
    padding-bottom: 7px;
    background: #073aa5;
    color: white;
    border-radius: 15px;
    cursor: pointer;
}

.container-laboratory > img{
    width: 550px;
    height: 350px;
    margin-top: 60px;
    animation: ease-in animationimg 1s;
    background: #1c4caa;
}
.number{
    width: 30px;
    height: 30px;
}
.camp{
    display: flex;
}


@keyframes animationimg{
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(1);
    }
}



main{
    background: white;
}

.ola3{
    background: url(../img/Ola3.png);
    height: 450px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100%, 100%;
    padding-bottom: 300px;
    margin-top: -75px;
}

.piedepagina{
    background: #111111;
    color: white;
    margin-top: -120px;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
    display: flex;
    justify-content: space-evenly;
}
.piedepagina h3{
    margin-bottom: 10px;
}

.titulo-pie{
    margin-right: 30px;
}

.sobrenosotros {
    margin-right: 10px;
}
.servicios {
    margin-right: 10px;
}
.otros{
    margin-right: 10px;
}

.sobrenosotros p {
    cursor: pointer;
    margin-bottom: 5px;
}
.servicios p{
    cursor: pointer;
    margin-bottom: 5px;
}
.others p{
    cursor: pointer;
    margin-bottom: 5px;
}

.redes-sociales img{
    width: 30px;
    height: 30px;
    margin-right: 10px;
    margin-top: 10px;

}
.title-final{
    text-align: center;
    background: #111111;
    color: white;
    padding-bottom: 20px;
    font-size: 24px;
}













